<DOCTYPE! html>
<html>
<head>
<meta charset="utf-8">
<title>{{pageTitle}}</title>
</head>
<body>

{{> header}}
<p>Render Message: <i>Bhopadi ke rendering chal rahi hai yahan</i></p>

{{> footer}}
</body>
</html>
